#fridge {
  width: 100%;
  position: relative;

  .magnet {
    padding: 4px 6px;
    position: absolute;
    border: 1px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    background: white;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.ui-draggable-dragging {
      box-shadow: 0 0 3px 1px #aaa;
    }

    &.locked {
      
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }
    transition: box-shadow 0.3s linear;

    &.matched {
      box-shadow: #3E7FBB 0px 0px 20px;
      transition: box-shadow 0.1s linear;
    }
    
    &:hover {
      border-bottom: 3px solid black;
    }
  }

  #search {
    position: absolute;
    top: 20px;
    right: 20px;
    input {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 16px;
      font-size: 12px;
    }
  }  
}


